* {
  margin: 0px;
}
#display > :first-child > :first-child {
  font-size: 1.5rem;
  padding: 40px;
  color: rgb(75, 73, 73);
}
#display > :first-child :first-child > :first-child {
  color: rgb(249, 128, 0);
}
#display > :first-child > :first-child > div {
  margin-top: 20px;
  border-left: 5px solid rgb(249, 128, 0);
  padding: 20px;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 40px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

#display > :first-child,
#navBar,
#navBar > :last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navBar {
  font-size: 1.2rem;
  background-color: rgb(239, 234, 234);
  padding: 30px;
  color: rgb(71, 69, 69);
}
input,
input + button {
  font-size: 1.5rem;
  padding: 10px 20px;
}
#navBar > :first-child {
  background-color: white;
  border-radius: 10px;
  width: 600px;
}
input + button {
  margin-left: 0px;
  background-color: rgb(71, 69, 69);
  color: white;
  border-radius: 0px 10px 10px 0px;
}
input {
  border-radius: 10px 0px 0px 10px;
  border: none;
  width: 72.5%;
}
input:focus {
  outline: none;
}
#navBar > :last-child > :last-child > button {
  color: rgb(71, 69, 69);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
#navBar > :last-child > :last-child {
  background-color: rgb(226, 217, 217);
  padding: 10px;
  border-radius: 10px;
}
#navBar > :last-child > :last-child > :last-child {
  background-color: rgb(226, 217, 217);
}
#navBar > :last-child {
  width: 500px;
}
#navBar > :last-child > :first-child {
  background-color: rgb(226, 217, 217);
  padding: 10px;
  border-radius: 10px;
}
#navBar > :first-child > button {
  color: rgb(226, 217, 217);
}
#forecast {
  display: flex;
  margin-left: 40px;
  width: max-content;
  background-color: rgb(51, 50, 50);
  margin-bottom: 50px;
  border-radius: 0px 0px 30px 30px;
  color: white;
}
#forecast > div {
  padding: 30px;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
}
#forecast > div:hover {
  background-color: rgb(69, 69, 69);
}
